/* @import url("https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap"); */
@import "tailwindcss";

:root {
  --background: #171717; /* dark:charcoal [monotone] */
}

@theme {
  /* --font-family-sans: "Poppins", sans-serif; */
  /* example for adding font */
}

@variant dark (&:is(.dark, .dark *));

@layer base {
  /* h1 {
    @apply text-4xl font-bold text-black leading-tight;
  } */
}

@theme inline {
  /* dark theme -- monotone */
  --color-background: var(--background); /* dark:charcoal [monotone] */
}

@media (prefers-color-scheme: dark) {
  :root {
    --background: #0a0a0a;
    --foreground: #ededed;
  }
}

body {
  /* font-family: "Poppins", sans-serif; */
}
